.App {
  text-align: center;
}

.fonttrial{
  font-family: "Azonix";
  

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login{
  margin:60px 20px 20px 20px;
  
  width:30%;
}
 .down{
  width: 40%;
  margin-left: 380px;
  margin-top: 350px;
 }
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.background{
  position:absolute;
  text-align: right;
  width: 65%;
  height:100%;
  right: 0px;
  top: 0px;
  border-radius: 0px 5px 5px 0px;
  object-fit: cover;
  
}

.Register{
  margin:30px 30px 20px 20px;
  text-align: center;
  width:100%;
  padding: 0px;
  
  

  
}

.left{
  
 width:40%;
 margin:0px 30px 30px 30px;
 float: left;
}


.right{
 
  
  width: 40%;
  margin-left: 120px;
  margin-top: 0px;

  float: left;
} 

.title{
    margin:0px 20px 0px 0px;
  
    padding: 0px;
}

.title_l{
  padding: 0px;
  margin:10px 0px 0px 150px;
}

#registerbtn{
  margin: 40px 600px 20px 0px;
  font-size: 20px;

}

#loginbtn{
  font-size: 20px;
}
