.Appheader {
    background-color: #282c34;
    min-height: 15vh;
    display: flex;
    flex-direction: row;
    
 
  
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 0vw;
    
  }


  #logo{
   
  
   padding: 0vw;
   height: 10vw;
   align-items: flex-start;
  

   
  }